/* src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Hover effect for buttons */
  button:hover {
    background-color: #ffcc00;
    transition: background-color 0.3s ease;
  }

  /* Hover effect for cards */
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc4.woff2') format('woff2');
}

body {
  font-family: 'Roboto', sans-serif;
}

/* src/styles/globals.css */

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.loader {
  border-top-color: #3490dc;
  animation: spinner 0.6s linear infinite;
}


